
<div class="modal-mdp" *ngIf="afficherModal()">
    <div style="margin: 50px 0px 0px 50px">
        SITE EN CONSTRUCTI<span (click)="removeModal()">O</span>N
    </div>
</div>

<!-- <app-intro *ngIf="!introComplete && !afficherModal()"></app-intro> -->

<!-- <div class="modal-overlay" (click)="closeModal()" *ngIf="modalDisplayed" #modalBackdrop></div>
<div class="modal-container" *ngIf="modalDisplayed" #modalBlock>
    <div class="close-modal-icon" (click)="closeModal()">
        <i class="fa fa-times"></i>
    </div>
    <ng-template  #modalcontainer></ng-template>
</div> -->

<div class="content-overlay" [ngClass]="{'displayed': !lateralMenuHidden}" *ngIf="displayContentOverlay"></div>

<!-- <app-nav-bar *ngIf="!afficherModal() " 
(lateralMenuHidden)="toggleLateralMenu($event)"  
(invoquingPequenioAnimal)="invoquePequenioAnimal($event)"></app-nav-bar> -->

<app-pequenioanimal *ngIf="pequenioAnimalInvoqued" [leaving]="pequenioAnimalleaving"></app-pequenioanimal>

<router-outlet></router-outlet>
app component
    <!-- <app-multi-pages-app *ngIf="!isSinglePageApp()"></app-multi-pages-app>
    <app-single-page-app *ngIf="isSinglePageApp()"></app-single-page-app> -->
