// $colorLighter : #e3c4a8;
// // rgba(227, 196, 168, 1)


// $colorMedium : #4592af; 
// // rgba(69, 146, 175, 1)


// $colorDarker : #226089;
// // rgba(34, 96, 137, 1)



$colorLighter : #ffd700;
// rgba(255, 215, 0, 1)


$colorMedium : #053f5e; 
// rgba(69, 146, 175, 1)


$colorDarker : #115173;
// rgba(34, 96, 137, 1)


$desktopWidth : 768px;