@font-face {
    font-family: "Cantarell";
    src: url("/assets/fonts/Cantarell-Bold.eot");
    src: 
    url("/assets/fonts/Cantarell-Bold.woff") format("woff"),
    url("/assets/fonts/Cantarell-Bold.ttf") format("ttf    "),
    url("/assets/fonts/Cantarell-Bold.svg#filename") format("svg");
}

    
@font-face {
    font-family: "Cantarell";
    src: url("/assets/fonts/Cantarell-Regular.eot");
    src: 
    url("/assets/fonts/Cantarell-Regular.woff") format("woff"),
    url("/assets/fonts/Cantarell-Regular.ttf") format("ttf"),
    url("/assets/fonts/Cantarell-Regular.svg#filename") format("svg");
}


@font-face {
    font-family: "Unna";
    src: url("/assets/fonts/Unna-Bold.eot");
    src: 
    url("/assets/fonts/Unna-Bold.woff") format("woff"),
    url("/assets/fonts/Unna-Bold.ttf") format("ttf    "),
    url("/assets/fonts/Unna-Bold.svg#filename") format("svg");
}


@font-face {
    font-family: "Unna";
    src: url("/assets/fonts/Unna-Regular.eot");
    src: 
     url("/assets/fonts/Unna-Regular.woff") format("woff"),
    url("/assets/fonts/Unna-Regular.ttf") format("ttf"),
     url("/assets/fonts/Unna-Regular.svg#filename") format("svg");
}

@font-face {
    font-family: "EBGaramond";
    src: url("/assets/fonts/EBGaramond-Bold.eot");
    src: 
     url("/assets/fonts/EBGaramond-Bold.woff") format("woff"),
    url("/assets/fonts/EBGaramond-Bold.ttf") format("ttf"),
     url("/assets/fonts/EBGaramond-Bold.svg#filename") format("svg");
}


@font-face {
    font-family: "EBGaramond";
    src: url("/assets/fonts/EBGaramond-Regular.eot");
    src: 
     url("/assets/fonts/EBGaramond-Regular.woff") format("woff"),
    url("/assets/fonts/EBGaramond-Regular.ttf") format("ttf"),
     url("/assets/fonts/EBGaramond-Regular.svg#filename") format("svg");
}

@font-face {
    font-family: "Heebo";
    src: url("/assets/fonts/Heebo-Bold.eot");
    src: 
     url("/assets/fonts/Heebo-Bold.woff") format("woff"),
    url("/assets/fonts/Heebo-Bold.ttf") format("ttf"),
     url("/assets/fonts/Heebo-Bold.svg#filename") format("svg");
}


@font-face {
    font-family: "Heebo";
    src: url("/assets/fonts/Heebo-Regular.eot");
    src: 
     url("/assets/fonts/Heebo-Regular.woff") format("woff"),
    url("/assets/fonts/Heebo-Regular.ttf") format("ttf"),
     url("/assets/fonts/Heebo-Regular.svg#filename") format("svg");
}